<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agro-AURA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="header">
            <img src="static/images/Agro-AURA.png" class="logo">
        </div>
        <div class="title-container">
            <div class="main-title">Agro-AURA</div>
            <div class="subtitle">Healthy Wheat Starts with Early Detection</div>
        </div>
    </header>

    <div class="container">   
        <div class="form-container">
            <h1>Upload an Image of Wheat Plant</h1>
            <form id="uploadForm" action="/predict" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input id="file-upload" type="file" name="image" accept="image/*" required>
                <div class="preview" id="imagePreview">
                    <img id="previewImage" src="" alt="Image Preview">
                </div>
                <button type="submit">Predict</button>
            </form>

            {% if prediction %}
            <div id="predictionPanel" class="prediction-panel">
                <h2>Prediction: <span id="predictionResult">{{ prediction }}</span></h2>
            </div>
            
            <div class="preview">
                <img id="previewImage" src="{{ url_for('static', filename=image_url) }}" alt="Uploaded Image">
            </div>
            
            <div id="recommendationPanel" class="recommendation-panel">
                <h2>Cause: <span id="causeResult">{{ cause }}</span></h2>
                <h2>Recommended Pesticide: <span id="pesticideRecommendation">{{ pesticide }}</span></h2>
            </div>
            {% endif %}
        </div>
    </div>

    <footer>
        &copy; 2024 Khadarabad Kailash. All rights reserved.
    </footer>


    <script>
        document.getElementById('file-upload').onchange = function () {
            var file = this.files[0];
            var preview = document.getElementById('imagePreview');
            var previewImage = document.getElementById('previewImage');

            // Show the image preview
            var reader = new FileReader();
            reader.onload = function (e) {
                previewImage.src = e.target.result;
                preview.style.display = 'block';
                preview.style.opacity = 1; // Ensure visibility
            };
            reader.readAsDataURL(file);

            // Update the file button text
            var fileName = file.name;
            document.querySelector('.custom-file-upload').textContent = fileName;
        };
    </script>
    
</body>

</html>

